@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.container-general{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Noto Sans', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   margin-left: 8rem;
   margin-right: 8rem;
}

.sidebar{
    margin-top: 4rem;
    flex-basis: 25%;       
}

.sidebar h1{
    margin-top: 3rem;

    letter-spacing: .125rem;
    text-transform: uppercase;
    color:rgb(106, 73, 30);
}

.sidebar p{
padding-top: 1.75rem;
line-height : 1.3rem;
padding-right: 1rem;

padding-bottom: .625rem;
text-align: justify;
font-family: 'Caveat', cursive;
font-size: 1.5rem;

}

.sidebar #cutefrance{
    color:rgb(106, 73, 30);
    font-weight: bold;
}


.content{
    flex-basis: 70%;
}

.content img {
    padding-top: 5.875rem;
z-index: -1;
width: 100%;
height: 100%;
}







.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 110%;
    
}

#slide {
    position: absolute;
    right: -106.25rem;
    width: 50rem;
    height: 15rem;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 0.5s ;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}



/* ####PRODUITS##### */
.produits{
margin-top: 7rem;
    }
    
    
    .produits h1{
       
        letter-spacing: .125rem;
        text-transform: uppercase;
        color:rgb(106, 73, 30);
    }
    
    .produits .description-p{
        height: 24rem;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;

    }

    

    .prod{
    padding: 1.25rem;
    line-height : 1.3rem;
    text-align: left;
    }
    
    .prod span{
    color: rgb(184, 180, 69);
    }
    
    
    .prod h2{
        color:rgb(106, 73, 30);
        font-style: italic;
        font-weight: bold;
        font-size: 1.5rem;
       
    }

    .prod h3{
        color:rgb(106, 73, 30);
        font-style: italic;
 

    }
    .prod1{
        
        grid-column: 1 / 2;
        grid-row: 1 / 4;  
        
    
    }
    
    .prod2{
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        

    }
    
    .prod3{
        grid-column: 3 / 4;
        grid-row: 1 / 4; 
     
  
    }

    .prod .flex-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 2rem;
    }
    
    
    /* ####savoirplus#### */
/* .savoirplus{
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 2rem;
    
}

.savoirplus-p{
    padding-right: 300px;
}

.savoirplus-p h2{
    padding-top: 1rem;
margin-left: 16px;
}




.savoirplus-p p{
    margin-left: 16px;
    text-align: justify;
}

.savoirplus h1{

    letter-spacing: .125rem;
    text-transform: uppercase;
    color:rgb(106, 73, 30);
    
}

.savoirplus .savoirplus-p h2{

    color:rgb(106, 73, 30);
} 

.savoirplus .savoirplus-p span{
    color: rgb(184, 180, 69);
}
 */